body {
  background-color: #F3EEE8;
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 55px;
  position: relative;
}

.header__container__logo {
  font-weight: 700;
  font-size: 34px;
  font-family: "Merriweather";
  margin-right: 30px;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.header__container__logo > a {
  text-decoration: none;
  text-transform: lowercase;
  color: #A06056;
}

.header__container__menu {
  font-size: 18px;
  font-weight: 400;
  font-family: "Varta";
  display: flex;
  align-items: center;
}

.header__container__menu > a {
  margin-right: 24px;
  text-decoration: none;
  color: #706458E5;
}

.header__container__menu a:last-child {
  margin-right: 0;
  margin-left: 719px;
  z-index: 3;
}

.wrapper__container {
  width: 1240px;
  margin: 0 auto;
  display: flex;
}

.wrapper__container__left {
  width: 420px;
  margin-right: 150px;
  color: #706458E5;
}

.wrapper__container__left__mini-title {
  margin-top: 110px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Varta";
  font-weight: 700;
}

.wrapper__container__left__text {
  margin-bottom: 215px;
}

.wrapper__container__left__text > h1 {
  font-size: 50px;
  font-family: "Merriweather";
  font-weight: 300;
  margin-bottom: 30px;
}

.wrapper__container__left__text > p {
  font-size: 22px;
  font-family: "Varta";
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 48px;
}

.wrapper__container__right > img {
  position: absolute;
  top: 0;
  right: 0;
}

.second-block__container {
  width: 1240px;
  margin: 0 auto;
  padding-top: 64px;
}

.second-block__container__title > h1 {
  font-size: 55px;
  color: #706458;
}

.second-block__container__flex {
  display: flex;
  margin-bottom: 48px;
}

.second-block__container__flex__text {
  width: 165px;
  margin-right: 24px;
  color: #706458E5;
}

.second-block__container__flex__img {
  margin-right: 24px;
}

.second-block__container__flex__img__text {
  width: 165px;
  margin-right: 32px;
}

.second-block__container__slider {
  margin-bottom: 70px;
}

.second-block__container__slider > span {
  width: 165px;
  color: #706458E5;
  margin-right: 30px;
  font-size: 18px;
}

.second-block__container__slider > button {
  border: 0;
  font-size: 20px;
  color: #A06056;
  vertical-align: middle;
  cursor: pointer;
  background-color: #F3EEE8;
}

.second-block__container__slider > button::after {
  content: url("../img/second-block/Right.svg");
  margin-left: 16px;
  vertical-align: middle;
}

.third-block__container {
  width: 1240px;
  margin: 0 auto;
}

.third-block__container__flex {
  display: flex;
}

.third-block__container__flex__left {
  width: 546px;
  margin-right: 48px;
}

.third-block__container__flex__left > h2 {
  font-size: 55px;
  width: 458px;
  color: #706458;
}

.third-block__container__flex__left > a {
  font-size: 17px;
  color: #A06056;
  margin-top: 30px;
  text-decoration: none;
}

.third-block__container__flex__left > a::after {
  content: url("../img/third-block/Right.svg");
  margin-left: 5px;
  vertical-align: middle;
}

.third-block__container__flex__desscription__flex-items {
  display: flex;
  width: 546px;
}

.third-block__container__flex__desscription__flex-items__card {
  width: 258px;
  margin-right: 29px;
  margin-bottom: 30px;
}

.third-block__container__flex__desscription__flex-items__card > h3 {
  font-size: 25px;
  color: #A06056;
}

.third-block__container__flex__desscription__flex-items__card > p {
  font-size: 18px;
  color: #706458E5;
}

.white-block {
  width: 1440px;
  background-color: #fff;
}

.white-block__container {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white-block__container__top {
  box-sizing: border-box;
}

.white-block__container__top > h2 {
  font-size: 35px;
  color: #121212;
}

.white-block__container__top > p {
  font-size: 18px;
  color: #706458E5;
  display: inline-block;
}

.white-block__container__top > a {
  font-size: 17px;
  color: #A06056;
  text-decoration: none;
}

.white-block__container__top > a::after {
  content: url("../img/white-bg/Right.svg");
  margin-left: 5px;
  vertical-align: middle;
}

.white-block__container__top__form {
  margin-top: 102px;
}

.white-block__container__top__form > input {
  width: 296px;
  margin-right: 16px;
  vertical-align: middle;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.white-block__container__top__form > button {
  padding: 8px 30px;
  vertical-align: middle;
  background-color: #534B42;
  color: #fff;
}

.white-block__container__slider {
  width: 1240px;
  margin: 0 auto;
}

.white-block__container__slider__item > img {
  margin-right: 30px;
}

.white-block__bottom__container {
  width: 1240px;
  margin: 0 auto;
}

.white-block__bottom__container__flex {
  display: flex;
  align-items: flex-end;
  width: 749px;
}

.white-block__bottom__container__flex > h2 {
  font-size: 45px;
  font-style: italic;
  font-weight: 800;
  width: 360px;
  margin: right 30px;
}

.white-block__bottom__container__flex > p {
  width: 359px;
}

.footer {
  background-color: #F3EEE8;
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  margin-top: 70px;
}

.footer__container__logo {
  font-size: 34px;
  font-weight: 700;
  font-family: "Merriweather";
  letter-spacing: 2px;
  margin-right: 64px;
}

.footer__container__logo > a {
  text-decoration: none;
  color: #534B42;
}

.footer__container__flex {
  display: flex;
  vertical-align: middle;
}

.footer__container__flex__items {
  display: flex;
  flex-direction: column;
  margin-right: 66px;
}

.footer__container__flex__items:last-child {
  margin-right: 0;
  margin-left: 16px;
}

.footer__container__flex__items > a {
  text-decoration: none;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Varta";
  font-weight: 400;
  color: #706458;
}

.footer__container__flex__items > a:first-child {
  font-size: 30px;
  font-weight: 600;
  font-family: "Varta";
  margin-bottom: 22px;
  color: #534B42;
}

.footer__container__flex__items > p {
  width: 235px;
  font-weight: 400;
  font-family: "Varta";
  font-size: 16px;
}

.footer__container__flex__items > button {
  border: none;
  text-align: left;
  font-size: 17px;
  font-family: "Karla";
  font-weight: 700;
  color: #A06056;
}

.footer__container__bottom {
  width: 1240px;
  margin: 0 auto;
}

.footer__container__bottom__social {
  text-align: center;
  margin-top: 48px;
}

.footer__container__bottom__social > a {
  margin-right: 24px;
}

.footer__container__bottom__copyright {
  margin-top: 20px;
}

.footer__container__bottom__copyright > a {
  margin-right: 30px;
  text-decoration: none;
  color: #706458B2;
  font-family: "Varta";
  font-weight: 400;
}

.footer__container__bottom__copyright > a:first-child {
  display: inline-block;
  width: 790px;
  margin-right: 0;
}
