.footer
    background-color: #F3EEE8  
    &__container
        max-width: 1240px
        margin: 0 auto
        display: flex
        align-items: flex-start
        vertical-align: middle
        margin-top: 70px
        &__logo
            font:
                size: 34px
                weight: 700
                family: "Merriweather"
            letter-spacing: 2px
            margin-right: 64px
            > a
                text-decoration: none
                color: #534B42
        &__flex
            display: flex
            vertical-align: middle
            &__items
                display: flex
                flex-direction: column
                margin-right: 66px
                &:last-child
                    margin-right: 0
                    margin-left: 16px
                > a
                    text-decoration: none
                    margin-bottom: 12px
                    box-sizing: border-box
                    font:
                        size: 18px
                        family: "Varta"
                        weight: 400
                    color: #706458 
                    &:first-child
                        font-size: 30px
                        font-weight: 600
                        font-family: "Varta"
                        margin-bottom: 22px
                        color: #534B42 
                > p
                    width: 235px
                    font:
                        weight: 400
                        family: "Varta"
                        size: 16px 

                >button
                    border: none   
                    text-align: left
                    font-size: 17px
                    font-family: "Karla"
                    font-weight: 700
                    color: #A06056  
        &__bottom
            width: 1240px
            margin: 0 auto
            &__social
                text-align: center
                margin-top: 48px
                > a
                    margin-right: 24px
            &__copyright
                margin-top: 20px
                > a
                    margin-right: 30px
                    text-decoration: none
                    color: #706458B2
                    font:
                        family: "Varta"
                        weight: 400
                > a:first-child
                    display: inline-block
                    width: 790px
                    margin-right: 0
               

       
                       
                   



    
            